doctype html
html
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    title If Conecta
  body
    .conteiner-fluid
      form(action="/form" method="post" enctype="multipart/form-data")
        .form-group
            legend Escolha um arquivo para fazer upload.
            input(type='file', name='code', id='code', class='form-control btn')
            button(type="submit" class="btn btn-primary" id="btnSubmit") Upload

    
  
