.Header{
  color:blue;
  text-align: center;
  font-size: 40px;
}

.Legenda{
  color:black;
  text-align: justify;;
  font-size: 20px;
}

.btnSelect{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
    width: 175px;
}

.btnUpload{
    border-radius: 8px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 175px;
}

.divContainer{
  width: 90%
  margin: 0 auto;
}
