.Header{
  color:black;
  text-align: center;
  font-size: 60px;
}

.Legenda{
  padding: 6px 6px;
  cursor: pointer;
  list-style: none;
  list-style-type: none;

}

.btnSelect{
    border-radius: 8px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 420px;
}

.btnUpload{
    border-radius: 8px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 420px;
}

.divContainer{
  width: 35%;
  margin: 0 auto;
  background-color: black;
  border-radius: 20px;
  width: 500px;
  height: 370px;
  text-align: center;
  padding-top: 10px;
}

.divContainerResult{
  width: 30%;
  margin: 0 auto;
  background-color: black;
  border-radius: 20px;
  width: 500px;
  height: 370px;
  text-align: center;
  font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
  padding: 10px;
}


h3{
  color:white;
}

.legendas{
  text-align: center;
  color: white;
}

.botoes{
  width: 85%;
  margin: 0 auto;
}

body{
  background-color: #e6f3ff;
}
